<form method="post" action="/comments" id="commentForm">
    <div class="mdc-form-field">
        <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
            <input id="repoURL" name="repoURL" type="url" class="mdc-textfield__input" value="<%= repoURL %>"
                   required
                   pattern="https:\/\/github.com\/[A-Za-z0-9\-]*\/[A-Za-z0-9\-]*"
                   title="please enter a valid github repo in the format of https://github.com/<org/user>/<repo>"
                   size="60"
            >
            <label for="repoURL" class="mdc-textfield__label">
                GitHub Repo URL
            </label>
        </div>
    </div>
    <button type="submit"
            id="commentFormSubmit"
            class="mdc-button
                       mdc-button--raised
                       mdc-button--primary
                       mdc-ripple-surface"
            data-mdc-auto-init="MDCRipple">
        Find Comments
    </button>
</form>