<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width,initial-scale=1">
      <style>

        .centered {
          display: flex;
          justify-content: center;
        }

        .blue-primary {
          background-color: #5841DA;
          color: #eee;
        }

        .blue-tint-1 {
          background-color: #806EE5;
        }

        .blue-tint-2 {
          background-color: #BAB0F3;
        }



        #greeting-form > button {
            margin-top: 8px;
        }
    </style>
</head>
<body>
<main>
